<nav class="sidebar sidebar-offcanvas g-primary" b id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_index')}}">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Menu</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_user_localisation')}}">
                <i class="mdi mdi-map-marker-multiple menu-icon"></i>
                <span class="menu-title">Localisation Client</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_user_index')}}">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Client</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_article_index')}}">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Article</span>
            </a>
        </li>
                <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_film_index')}}">
                <i class="mdi mdi-moviemdi mdi-movie menu-icon"></i>
                <span class="menu-title">Film</span>
            </a>
        </li>
                <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_serie_index')}}">
                <i class="mdi mdi-movie menu-icon"></i>
                <span class="menu-title">Serie</span>
            </a>
        </li>
                <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_manga_index')}}">
                <i class="mdi mdi-movie menu-icon"></i>
                <span class="menu-title">Manga</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_user_index')}}">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
    </ul>
</nav>
